<div id="page-container" ng-animate class="page-transition">
    <!-- 닫기 버튼 -->
    <div class="action-bar mask">

        <div id="back-button">
            <div class="action-bar-label">
                <a href="#/main"><span>Back</span></a>
            </div>

            <div class="motion-area mask">
                <div>
                    <img style="width: 6px; height: 9px; margin-top: 25.5px; margin-left:27px;" src="assets/ui/cta_arrow_white_left.png">
                    <img style="width: 6px; height: 9px; margin-top: 25.5px; margin-left:27px;" src="assets/ui/cta_arrow_white_left.png">
                </div>
            </div>
        </div>



        <div id="link-button">
            <div class="action-bar-label">
                <a ng-href="{{project.luanch}}" target="_blank"><span>Luanch</span></a>
            </div>
            <div class="motion-area mask">
                <div>
                    <img style="width: 16px; height: 16px; margin-top: 22px; margin-left:22px;" src="assets/ui/link_icon.png">
                    <img style="width: 16px; height: 16px; margin-top: 22px; margin-left:22px;" src="assets/ui/link_icon.png">
                </div>
            </div>
        </div>


    </div>

    <div id="page-body-section">

        <h1 style="font-style: normal; 
			font-variant: normal; font-weight: 500; 
			font-stretch: normal; font-size: 40px; color:#3C3C3C;
			line-height: 50px; font-family: Nanum Gothic, Verdana, sans-serif; margin: 5px 0px 85px; width: 100%;">{{project.title}}</h1>
        <h3 style="font-style: normal; font-variant: normal; font-weight: 300; color:#3C3C3C;
			font-stretch: normal; font-size: 20px; line-height: 23px; font-family:
			Nanum Gothic, Arial, Verdana, sans-serif;" ng-bind-html="trustDangerousSnippet(project.subtitle)"></h3>
        <div class="main-image">
            <img ng-src="{{project.images.main.src}}">
        </div>
        <h4>단계별 구현내용</h4>
        <ul>
            <li ng-repeat="chapter in project.step" ng-bind-html="trustDangerousSnippet(chapter)"></li>
        </ul>

        <h4>구현 후 느낀점</h4>
        <p ng-repeat="desc in project.descriptions" ng-bind-html="trustDangerousSnippet(desc)"></p>
      
    </div>

</div>