<!DOCTYPE html>
<html ng-app ="repeatApp">
<head lang="en">
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <script type="text/ng-template" id="sample.html">
            <span>{{vo.title}}</span>

    </script>
    <div ng-controller="RepeatListCtrl">
        <my-repeat ng-repeat="vo in lists">
        </my-repeat>
        <button ng-click="popItem()">remove</button>
    </div>




    <script src="../js/lib/angular.js"></script>
    <script>

	 
        var repeatApp = angular.module("repeatApp", []);
        repeatApp.controller( 'RepeatListCtrl', function( $scope ){
            $scope.lists = [
                {
                    title:'a'
                },
                {
                    title:'b'
                },
                {
                    title:'c'
                },
                {
                    title:'d'
                },
                {
                    title:'e'
                }

            ];


            $scope.popItem = function(){
                $scope.lists.pop();
            }

        });

        repeatApp.directive( "myRepeat", function(){

            return{
                restrict:"E",
                replace:true,
                template:'<div ng-include="getTemplateUrl()"></div>',
                controller:function( $scope ){
                       $scope.getTemplateUrl = function(){
                           return "sample.html";
                       }
                }

            }

        })

    </script>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
</body>
</html>