<!--<div class="project-renderer renderer-type1 mask" ng-class='class' ng-style="{'transform': transform, '-webkit-transform': transform, '-ms-transform': transform }">-->

<div class="project-renderer renderer-type1 mask" ng-class='class'>
    <a href="#/detail/{{project.title}}" ng-click="onClick_Renderer(project.title)">
        <div class="image-container">
            <img src="{{project.image.prefix}}{{project.image.src}}" />
        </div>
        <div>
            <div class="label-container">{{project.title}}</div>
            <div class="deco-container">
                <div class="deco-cover left"></div>
                <div class="deco-cover right"></div>
                <div class="deco-description">
				<p>{{project.description}}</p>
                    <div class="infomation">
                        <ul>
                            <li ng-repeat=" info in project.infomation" ng-bind-html="trustDangerousSnippet(info)">
                                {{info}}
                            </li>
                        </ul>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <img class="transparent-area" src="{{project.image.prefix}}transparent.gif" width="1" height="1">
    </a>
</div>
